.middleBox {
    padding: 15px;
    border: solid 1px #c0c0c0;
    box-shadow: 0 0 8px #777777;
    border-radius: 10px;
    position: static;
    background-color: whitesmoke;
    
}

.middleBox input{
    display: block;
    margin-bottom: 7px;
}

input[type=radio],
input.radio {
  float: left;
  clear: none;
  margin: 2px 0 0 2px;
}

.container {
    padding: 15px;
    border: solid 1px #c0c0c0;
    box-shadow: 0 0 8px #777777;
    border-radius: 10px;
    background-color: rgb(41, 223, 56);    
    text-align: center;
    width: fit-content;
}
.smcontainer {
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1px #c0c0c0;
    box-shadow: 0 0 8px #777777;
    border-radius: 10px;
    background-color: rgb(41, 223, 56);    
    text-align: center;
    width: fit-content;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
  }
  
  html {
    margin: 0.5%;
    font-size: 62.5%;
  }
  
  